{{ define "head" }}
{{ partial "head" . }}
{{ end }}

{{ define "nav" }}
{{ partial "nav" . }}
{{ end }}

{{ define "main" }}
<main>
    <div class="container py-3 text-center">
        <div class="alert alert-success">
            <span>最后更新时间: {{ .Date }}</span>
        </div>
        <div class="alert alert-info">
            <span>反馈方式：<a href="https://nga.178.com/read.php?tid=20339590" target="_blank">NGA 直接回复</a> 或 宇宙和音服务器森都住宅区
                8-39 庭院内交流簿 (不保证即时回复)</span>
        </div>
        <div class="d-flex justify-content-center btn-toolbar mb-4">
            <div class="btn-group mx-1">
                <button type="button" class="btn btn-primary dropdown-toggle text-white" data-toggle="dropdown">
                    陆行鸟区
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#陆行鸟区---50">5.0</a>
                    <a class="dropdown-item" href="#陆行鸟区---40">4.0</a>
                </div>
            </div>
            <div class="btn-group mx-1">
                <button type="button" class="btn btn-primary dropdown-toggle text-white" data-toggle="dropdown">
                    莫古力区
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#莫古力区---50">5.0</a>
                    <a class="dropdown-item" href="#莫古力区---40">4.0</a>
                </div>
            </div>
            <div class="btn-group mx-1">
                <button type="button" class="btn btn-primary dropdown-toggle text-white" data-toggle="dropdown">
                    猫小胖区
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#猫小胖区---50">5.0</a>
                    <a class="dropdown-item" href="#猫小胖区---40">4.0</a>
                </div>
            </div>
        </div>
        {{ .Content }}
        <button type="button" class="btn btn-sm btn-secondary text-white"
                style="position: fixed; right: 1rem; bottom: 1rem; display: none;">返回顶部</button>
    </div>
    <script>
        $(window).scroll(function () {
            if ($(this).scrollTop()) {
                $('main div button.btn-secondary').fadeIn();
            } else {
                $('main div button.btn-secondary').fadeOut();
            }
        });
        $('main div.btn-group a.dropdown-item').click(function () {
            $('html, body').animate({
                scrollTop: $($(this).attr('href')).offset().top - 100
            });
        });
        $('main div button.btn-secondary').on('click', function () {
            $("html, body").animate({
                scrollTop: 0
            });
        });
    </script>
</main>
{{ end }}

{{ define "footer" }}
{{ partial "footer" . }}
{{ end }}

{{ define "script" }}
{{ partial "script" . }}
{{ end }}