body {
    padding-top: 3.5rem;
}

.about-bg {
    background: url(https://cdn.jsdelivr.net/gh/dsrca/dsrca.github.io/img/about/bg.webp) no-repeat center center;
    background-size: cover;
}

#aplayer {
    margin: 1rem 0.25rem;
    font-family: inherit;
}