body {
    padding-top: 3.5rem;
}

main {
    background: url(/img/home/cover-row-2020-2-hotfix.webp) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@media screen and (max-width: 768px) {
    main {
        background: url(/img/home/cover-col-2020-2-hotfix.webp) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}