<footer class="footer mt-auto py-2 bg-dark">
    <div class="container-fluid text-center text-white-50">
        <span>
            <i class="fas fa-copyright"></i> {{ now.Format "2006" }} <a href="https://twitter.com/amzrk2" target="_blank">DSRKafuU</a>{{ if .IsHome }} | <a href="/old/" target="_blank"><i class="fas fa-archive"></i> 旧主页存档</a>{{ end }}
        </span>
        {{ if .Params.exCopyright }}
        <br />
        <span>
            <i class="fas fa-copyright"></i> {{ .Params.exCopyright }}
        </span>
        {{ end }}
    </div>
</footer>