{{ if .Params.aPlayer }}
<script>
    $(function () {
        const siteAPlayer = new APlayer({
            container: document.getElementById("aplayer"),
            theme: "#8aa2d3",
            volume: 0.1,
            audio: [{
                name: "トリカゴ",
                artist: "XX:me",
                url: "https://cdn.jsdelivr.net/gh/amzrk2/poal-jsdelivr@1.4.0/aplayer/torikago.aac",
                cover: "https://cdn.jsdelivr.net/gh/amzrk2/poal-jsdelivr@1.4.0/aplayer/torikago.jpg"
            }]
        });
    });
</script>
{{ end }}
{{ if .Params.webpChecker }}
<script>
    $(function () {
        Modernizr.on("webp", function (result) {
            if (!result) {
                $("main>div.container").prepend('<div class="alert alert-info">您的浏览量暂未支持显示 <a href="https://caniuse.com/#feat=webp" target="_blank">WebP</a> 图片</div>');
            }
        });
    });
</script>
{{ end }}